html, body{
    color: black !important;
}

.thin{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.bold{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.medium-bold{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.intro{
    font-size: 4rem;
}

.sub-intro{
    font-size: 2rem;
}

.button {
    color: white !important;
    background-color:rgb(100, 158, 100) !important;
    border: none !important
}

.link {
    margin-right: 1rem;
    cursor: pointer;
}